
body{
    /* overflow: hidden; */
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: rgb(12,12,12);
}
.top_message{
    place-self: center ;
    background-color:rgb(26,26,26);
    color:rgb(255,255,255);
    font-family:'urbanist'; 
    width:100%;
    line-height: 150% ;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
}



.top_link{
    color:rgb(217,217,217);
    padding:10px ;   
}



.top_link:hover {
     color:rgb(112,59,247); 
}


/*------------------- nav-bar--------------------- */
.nav{
    background-color: rgb(26,26,26);
    width: 100%;
    display: flex;
    margin-top:1px;
}


.list{
    list-style: none;
    display:flex;
    gap: 30px;
    justify-content: center; 
    width: 100%;
    margin: auto; 

}


 .nav_content{
    text-decoration: none;
    color:white;
    font-family: 'urbanist';
    padding: 10px;  
}


.contact{
    text-decoration: none;
    font-family: 'urbanist';
    color:white;
    padding:10px;
    border: 1px rgb(38,38,38) solid;
    background-color: rgb(20,20,20);
    border-radius: 10%;
   
      
}

.nav_content:hover{
    border: 1px rgb(38,38,38) solid;
    background-color: rgb(20,20,20);
    border-radius: 10%;
    box-shadow: 0 0 5px rgba(112, 59, 247, 0.9) ;
}


.logo{
    width: 150px;
    padding: 10px;
}


/*--------------- main------------------------ */

.hero_section{
    display: flex;
    width: 100%; 
    min-height: 100vh;  
   

}


.container{
    display: flex; 
    flex-direction: column;
    flex: 1;
    margin: 100px 30px 5px 70px; 
    flex-wrap: wrap; 
    
}


.hero_text{
    color: white;
    font-family: 'urbanist';
    font-weight:600;
    font-size: 50px;
    margin-bottom:5px;
}


.discr_text{
    color: rgb(153,153,153);
    font-family: 'urbanist';
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 70px;
    flex-wrap: wrap;
  
}


.button{
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
}


.Learn_btn{
    text-decoration: none;
    color: white;
    padding: 18px 24px;
    font-family: 'urbanist';
    border: rgb(38,38,38) 1px solid;
    border-radius: 5px;
    background-color: rgb(20,20,20);
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s ease;

}


.Learn_btn:hover{
    box-shadow: 0 0 15px rgba(112, 59, 247, 0.8) ;
    transform: scale(1.1);
}

.browse_btn{
    text-decoration: none;
    color: white;
    background-color: rgb(112, 59, 247);
    font-size: 18px;
    font-weight: 500;
    font-family: 'urbanist';
    padding: 18px 24px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.browse_btn:hover{
   transform: scale(1.1);
}
.cards{
    color: white;
    display: flex;
    gap: 20px;
   justify-content: space-evenly; 
   
   
}

.cards p{
    border: 1px rgb(38,38,38) solid ;
    background-color: rgb(26, 26, 26);
    border-radius:5px ;
    padding:16px 24px;
    width: 150px;
    font-weight: 700;
    font-family: 'urbanist';
    font-size: 30px;
    transition: all 0.5s ease;
}

.cards p:hover{
    transform: scale(1.1);
    box-shadow:0 0 15px rgba(112, 59, 247, 0.8) ;;
}


.cards span{
    color:rgb(153,153,153) ;
    font-family: 'urbanist';
    font-size: 15px;
    font-weight: 500;
}

.image{
    flex: 1;
     display: flex; 
    justify-content:flex-end;
    
}

.img{
   max-width: 100%;
    height: auto;
 
}

/* -------------new section------------- */

.h-section{
    width: 100%;
    margin:20px 0 ;

}
.container-2{
    display: flex;
    justify-content:space-evenly; 
    gap:10px;
    border:5px rgb(20,20,20) solid; 
    padding: 10px 0;
   

}
.container-2 div{
    color:white;
    border:rgb(38,38,38) solid 1px ;
    background-color:rgb(26,26,26);
    font-family:'urbanist';
    font-size:15px;
    font-weight:600px;
    border-radius: 5px;
    text-align: center;
    padding: 25px;
    width: 100%;
    position: relative;
   
}



.arrow{  
    position: absolute;
    top:0;
    right: 0;
    width: 30px;
}

/* -------------------new-section------------------------- */

.properties-section{
    width: 100%; 
    min-height: 100vh;   
   
}

.container-3{
    position: relative;
}
.container-3 p:first-of-type{
  color: white;
  font-family: 'urbanist';
  font-size: 30px;
  font-weight: 600;
}
.container-3 p:nth-of-type(2){
    color:rgb(153,153,153);
    font-family: 'urbanist';
    font-size: 15px;
    font-weight: 500;
    position: relative;
}
.container-3 a{
    text-decoration: none;
    color: white;
    position: absolute;
    right: 40px;
    top: 40px;
    font-family:  'urbanist';
    background-color:rgb(26, 26, 26);
    padding: 15px;
    border:rgb(38,38,38) 2px solid;
    border-radius: 5px;
    transition: all 0.5s ease;

}
.container-3 a:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(112, 59, 247, 0.8) ;
}
.slider{
    overflow: hidden;
}

.properties{
    display: flex;
    gap:5px;
    width: 100%; 
    justify-content: space-around;
    transition: transform 0.5s;

}
.container-property{
    border: rgb(38,38,38) solid 1px;
    border-radius: 10px;  
    padding: 5px;
   color: white;
   font-family: 'urbanist';
    width: 100%; 
    position: relative;
    flex: 1 1 200px; 
    min-width: 33.33%;


}
.container-property img{
   max-width:80%;
  display: block;
  margin: 0 auto;

}
.details-1{
    display:flex;
    flex-direction: column;
    align-items:flex-start ;
}
.details-1 p:first-of-type{
   font-family: 'urbanist';
   font-size: 26px;
   font-weight:600;
}
.details-1 p:nth-of-type(2){
    font-family: 'urbanist' ;
    font-size:15px;
    font-weight: 500;
    color:rgb(153,153,153);
}

.details-2{
    display: flex;
    gap: 10px;
}
.details-2 p{
    border:rgb(38,38,38) 1px solid;
    border-radius: 20px;
    padding: 9px; 
    background-color: rgb(26,26,26);

}
.details-3{
    display: flex;
    gap: 70px;
}
.price{
    color: rgb(153,153,153);
    font-size:20px;
    font-weight: 500;
}
.price-num{
    color:white;
    font-size:26px ;
    font-weight: 600;

}
.details-3 a{
    text-decoration: none;
    color:white;
    background-color:rgb(112, 59, 247) ;
    border-radius:5px ;
    width:50%;
    height: 40px;
    text-align: center;
    padding-top: 15px;
   transition: all 0.5s ease;

}

.details-3 a:hover{
    transform: scale(1.1);
    background-color:rgb(112, 20, 247) ;
}
.slides{
    display: flex;
    position: relative;
    margin:20px ;
   
}
.pre-btn,.next-btn{
    background-color: rgb(38,38,38);
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 30%;
    padding: 5px;
    border: none;
    transform: translateX(-50%);

}
#counter{
    color: aliceblue;
    font-size: 25px;
    font-family: 'urbanist';
    position: absolute;
    top: 0;
    right: 30px;

}



/* --------------------new section-------------------- */


.opinions-section{
    width: 100%;
    min-height: 100vh;  
   
}
.container-4{
   position: relative;

}
.container-4 p:first-of-type{
  color: white;
  font-family: 'urbanist';
  font-size: 30px;
  font-weight: 600;

}
.container-4 p:nth-of-type(2){
    color:rgb(153,153,153);
    font-family: 'urbanist';
    font-size: 15px;
    font-weight: 500;
}
.container-4 a{
 text-decoration: none;
    color: white;
    position: absolute;
    right:40px;
    top:40px;
    font-family:  'urbanist';
    background-color:rgb(26, 26, 26);
    padding: 15px;
    border:rgb(38,38,38) 2px solid;
    border-radius: 5px;
    transition: all 0.5s ease;

}
.container-4 a:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(112, 59, 247, 0.8) ;
}
.cards-opinion{
    display: flex;
    gap: 10px;

}
.container-opinion{
    border: rgb(38,38,38) 1px solid;
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-family: 'urbanist';
    background-color:rgb(20,20,20) ;
    margin-top: 20px;

}
.container-opinion p:first-of-type{
 font-size: 24px;
 font-weight: 600;
}

.user{
    display: flex;
    gap: 30px;

}
.name{
   font-weight: 500;
   font-size: 18px;
}

.country{
    color: rgb(153,153,153);
    font-size: 18px;
    font-weight:500 ;
}
/*------------new section------------*/
.questions-section{
    width: 100%;
    min-height: 100vh;
   
}
.container-5{
    position: relative;
    margin-top: 60px;
   
    
}
.container-5 p:first-of-type{
  color: white;
  font-family:'urbanist';
  font-size: 30px;
  font-weight: 600;

}
.container-5 p:nth-of-type(2){
    color:rgb(153,153,153);
    font-family: 'urbanist';
    font-size: 15px;
    font-weight: 500;
}
.container-5 a{
 text-decoration: none;
    color: white;
    position: absolute;
    top:40px;
    right:40px;
    font-family:  'urbanist';
    background-color:rgb(26, 26, 26);
    padding: 15px;
    border:rgb(38,38,38) 2px solid;
    border-radius: 5px;
    transition: all 0.5s ease;

}
.container-5 a:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(112, 59, 247, 0.8) ;
}
.faq{
    display: flex;
    gap: 10px;


}
.faq div{
    border: rgb(38,38,38) 1px solid;
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-family: 'urbanist';
    background-color:rgb(20,20,20) ;
    
}
.question p:first-of-type{
     font-size: 24px;
 font-weight: 600;
}
.question p:nth-of-type(2){
    font-size:18px;
    font-weight: 500;
    color:rgb(153,153,153);
}
.question a{
     text-decoration: none;
    color: white;
    font-family:  'urbanist';
    background-color:rgb(26, 26, 26);
    padding: 7px;
    border:rgb(38,38,38) 2px solid;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.question a:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(112, 59, 247, 0.8) ;
}


/*-----------last-section---------------*/

.last-section{
     width: 100%; 
     min-height: 100vh; 
}

.last-p{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 10px solid rgb(20,20,20);   
}
.last-p p:first-of-type{
  color: white;
  font-family:'urbanist';
  font-size: 40px;
  font-weight: 600;

}
.last-p p:nth-of-type(2){
    color:rgb(153,153,153);
    font-family: 'urbanist';
    font-size: 15px;
    font-weight: 500;
   
}
.last-p a{
    text-decoration: none;
    color: white;
    font-family:  'urbanist';
    background-color:rgb(112,59,247);
    padding: 10px;
    border:rgb(38,38,38) 2px solid;
    border-radius: 5px;
    transition: all 0.5s ease;
    position: absolute;
    top: 36px;
    right: 40px;
}
.last-p a:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(112, 59, 247, 0.8) ;
}
























@media(max-width:992px){
    .container{
         margin: 90px 0px 5px 35px;
         max-width: 40%;
         justify-content: flex-start;
    }
    .hero_text{
        font-size: 35px;
    }
    .discr_text{
        font-size: 15px;
       
    }
    .button{
        gap:10px;
    }
    .Learn_btn{
        font-size:15px ;
    }
    .browse_btn{
        font-size: 15px;
    }
    .cards{
   max-width: 50%;
   gap: 10px;
   justify-content: space-around;
    }
    .image{
        width: 100%;
        justify-content: flex-end;
    }
   
    .img{
       width: 100%; 
       height: auto;
       max-width:470px ;
      
    }
    .container-2{
        gap: 5px;
    }
   
    .cards-opinion{
        flex-wrap: wrap;
    }
    .properties{
        flex-wrap: wrap;
    }
    .container-property:nth-child(1), 
   .container-property:nth-child(2){
    flex: 1 1 calc(50%-20px);

   } 
    .container-property:nth-child(3){
        flex:1  1 calc(100%-40px);
    }
    .container-property:nth-child(n+4){
       display: none; 
        
    }
    .last-p{
      padding: 30px;
    }
    .last-p a{
        position: relative;
        top: 0;
        left: 10px;
    }
    }
    


    @media(max-width:760px){
        body{
            /* background-color: aliceblue; */
        }
      .hero_section{
        flex-direction: column-reverse;
    
      }
      .img{
       max-width: 100%;
       text-align: center;
      }
      .container{
        max-width: 100%;
      }
      .button{
        max-width: 80%;
        display: flex;
        flex-direction: column;
        align-items: stretch; 
        justify-content: center;
        text-align: center;
        gap: 15px;
        margin: auto;
    
      }
      .Learn_btn,.browse_btn{
        width: 300px; 
      }
      .cards{
        flex-wrap: wrap;
        max-width:90%;
        gap: 15px;

      }
      .cards p{
        min-width: 100px; 
        flex: 1 1 30% ;
        text-align: center;
        justify-content: center;
        align-items: center; 
       
      }
      .cards p:nth-child(1),
      .cards p:nth-child(2){
         flex: 1 1 20%;
      }
      
      .cards p:nth-child(3){
        flex: 1 1 100%;
        margin-top: 0;
      }
      .container-2{
        flex-wrap: wrap;
        max-width: 100%;
      }
      .container-2 div:nth-child(1),
      .container-2 div:nth-child(2){
        flex: 1 1 35%;

      }
      .container-2 div:nth-child(3),
      .container-2 div:nth-child(4){
        flex: 1 1 35%;
      }
      .properties{
        max-width: 100%;
        flex-wrap: wrap;
         flex-direction: column;
      }
      .container-property{
       
      }
      


     

    }